<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World回来</h1>
    <div>
        <table>
            <tbody>
            <tr>
                <td><p id ='demo'>改变HTML内容</p></td>
                <td>
                    <button type="button" onclick="document.getElementById('demo').innerHTML='Hello JavaScript!'">点击我</button>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="container">
        <div class="jumbotron">
            <h1>我的第一个Bootstrap页面</h1><!--bootstrap网格系统-->

        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>第一列</h3>
                <p>小型设备4列</p>
            </div>
            <div class="col-sm-4">
                <h3>第二列</h3>
                <p>小型设备4列</p>
            </div>
            <div class="col-sm-4">
                <h3>第三列</h3>
                <p>小型设备4列</p>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>
</html>